
/* Universal styles */

html {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

span {
    font-size: 1rem;
    font-weight: normal;
    line-height: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}

h2 {
    font-size: 3rem;
    margin: 0px;
    color: hsl(5, 10%, 20%);
}

h3 {
    font-size: 2.5rem;
    color: hsl(5, 10%, 20%);
}
h4 {
    font-size: 1.8rem;
    font-weight: normal;
    color: hsl(5, 10%, 20%);
}

.flex-content {
    display: flex;
}

.text p {
    font-size: 1rem;
}

.text a {
    color: cornflowerblue;
    font-size: 1rem;
}

/* Header */

header {
    padding: 1rem 1.5rem;
}

header .desktop {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This is how I seperate the logo and nav sections */
}

.logo-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo-container i {
    margin-right: 0.4rem;
    font-size: 20px;
}

nav a + a {
    margin-left: 1rem;
}

header .mobile {
    display: none;
}

@media only screen and (max-width: 570px) {
    header .desktop {
        display: none;
    }

    header .mobile {
        display: block;
    }

    header .flex-content {
        display: flex;
        justify-content: space-around;
    }
}

/* Banner */

.banner-section {
    background-color: rgb(206, 206, 206);
    align-items: center;
}

.banner-section img {
    width: 60%;
    height: auto;
    margin: 2rem 1.5rem;
}

.banner-section .supporting-content {
    padding: 0 1.5rem;
}

.banner-section .supporting-content h4 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 50px;
    background-color: hsl(5, 10%, 20%);
}

.button a {
    color: white;
    font-size: 1.2rem;
}

@media only screen and (max-width: 938px) and (min-width: 724px) {
    html {
        font-size: 12px;
    }

    a {
        text-decoration: none;
        color: inherit;
        font-size: 1.4rem;
    }

    header {
        padding: 1.4rem 2rem;
    }

    span {
        font-size: 1.4rem;
        font-weight: normal;
        line-height: 2.7rem;
    }
}


@media only screen and (max-width: 724px) {
    .banner-section {
        flex-direction: column;
    }

    .banner-section img {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .banner-section .supporting-content {
        width: auto;
        margin: 2rem 1rem;
    }

    .banner-section h4 {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    .button {
        width: 100%;
    }
}

/* Information section */

.mobile {
    display: none;
}

.information-section .left-container {
    width: 60%;
    margin: 2rem 1.5rem;
}

.left-container img {
    width: 100%;
    height: auto;
}

.left-text {
    margin: 2rem 0;
}

.left-text h3 + p {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    max-width: 90%;
    font-family: "Avenir Next";
}

.information-section .right-container {
    flex: 1 1 35%;
    padding: 2rem 0;
    border-left: 1px solid gray;
}
.right-container .flex-content {
    padding: 1rem;
    align-items: center;
}

.right-container img {
    width: 40%;
    height: auto;
}

.right-container .text {
    padding: 1rem;
}

.text h4 + p {
    margin: 1rem 0;
}

.right-container .gray {
    background-color:rgb(206, 206, 206);
}

@media only screen and (max-width: 724px) {

    .desktop {
        display: none;
    }

    .left-container {
        display: none;
    }

    .flex-content-mobile {
        display: block;
        margin: 1rem 1rem;
    }

    .flex-content-mobile .mobile {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    .text {
        display: block;
    }
}