
/* Universal styles */

html {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header span {
    font-size: 28px;
}

header a {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 3rem;
    color: hsl(5, 10%, 20%);
}

h4 {
    font-size: 1.8rem;
    font-weight: normal;
    color: hsl(5, 10%, 20%);
}

h3 {
    font-size: 2.5rem;
    text-align: center;
    color: hsl(5, 10%, 20%);
}

.left-text h3 + p,
.left-text-thesis p {
    font-family: "Avenir Next";
}

.text a {
    color: cornflowerblue;
}

.flex-content {
    display: flex;
}

/* Left content in banner and information section */

.left-content {
    width: 60%;
    margin: 2rem 1.5rem;
}

/* The titles in courses and thesis sections */

.section-title {
    padding: 2rem 0;
}

/* Header */

header {
    padding: 16px 24px;
}

header .desktop {
    display: flex;
    align-items: center;
    justify-content: space-between; /* This is how I seperate the logo and nav sections */
}

header .flex-content {
    align-items: center;
}

.desktop i {
    margin-right: 8px;
    font-size: 32px;
}

nav a + a {
    padding-left: 16px;
}

.mobile .flex-content {
    justify-content: space-around;
}

.mobile i {
    font-size: 32px;
}

header .mobile {
    display: none;
}

@media only screen and (max-width: 724px) {
    header .desktop {
        display: none;
    }

    header .mobile {
        display: block;
    }
}

/* Banner */

.banner-section {
    background-color: rgb(206, 206, 206);
    align-items: center;
}

.banner-section .supporting-content {
    padding: 0 1.5rem;
}

.supporting-content h4 {
    margin: 2rem 0;
}

.start-here {
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
    background-color: hsl(5, 10%, 20%);
    padding: 1rem 0;
    display: inline-block;
    width: 85%;
    text-align: center;
}

@media only screen and (max-width: 938px) and (min-width: 724px) {
    html {
        font-size: 12px;
    }
}


@media only screen and (max-width: 724px) {
    .banner-section {
        flex-direction: column;
    }

    .banner-section img {
        width: 100%;
        height: auto;
    }

    .banner-section .supporting-content {
        padding: 2rem 1rem;
    }

    .banner-section .supporting-content h4 {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    .button {
        width: 100%;
    }

    .banner-section .left-content {
        margin: 0;
    }

    a.start-here {
        width: 100%;
        background-color: hsl(0, 0%, 54%);
    }
}

/* Information section */

.mobile {
    display: none; /* Remove the images formatted for mobile screen */
}

.information-section .left-content {
    width: 60%;
    margin: 2rem 1.5rem;
}

.left-content img {
    width: 100%;
    height: auto;
}

.left-text {
    margin-top: 2rem;
}

.left-text h3 {
    text-align: left;
}

.left-text h3 + p {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    max-width: 94%;
}


.information-section .right-container {
    flex: 1 1 35%;
    padding: 2rem 0;
    border-left: 2px solid rgb(139, 138, 138);
}
.right-container .flex-content {
    padding: 1rem;
    align-items: center;
}

.right-container img {
    width: 40%;
    height: auto;
}

.right-container .text {
    padding: 1rem;
}

.text h4 + p {
    margin: 1rem 0;
}

.gray {
    background-color:rgb(206, 206, 206);
}

@media only screen and (max-width: 724px) {

    .desktop {
        display: none;
    }

    .desktop-content {
        display: none;
    }

    .information-section div.right-container {
        padding: 1rem 0;
        border-left: none;
    }

    .right-container div.content-mobile {
        display: block;
        padding: 0 1rem;
        margin-bottom: 0;
    }

    .content-mobile .mobile {
        display: block;
        width: 100%;
        height: auto;
    }

    .information-section div.right-container .middle-content {
        margin: 3rem 0;
    }

    .gray {
        background-color: white;
    }
}

/* Courses section */

.courses-section-mobile {
    display: none;
}

.courses-section-desktop {
    background-color: rgb(240, 240, 240);
}

.courses-container {
    text-align: center;
    margin: 0rem 4.5rem;
}

.course-row {
    display: flex;
    background-color: rgb(240, 240, 240);
    padding-bottom: 2rem;
    margin: 0 -1rem;
}

.course {
    width: 32%;
    background-color: white;
    margin: 0 1rem;
}

.course img {
    width: 100%;
}

.course div {
    text-align: left;
    padding: 1rem;
}

.course h4 + p {
    padding: 1rem 0;
}

.course p + p {
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 724px) {

    .courses-section-desktop {
        display: none;
    }

    .courses-section-mobile {
        display: block;
        padding-bottom: 1.5rem;
    }

    h3.section-title {
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 1rem;
        border-top: 1px solid rgb(201, 201, 201);
    }

    .courses-section-mobile h4 {
        background-color: rgb(206, 206, 206);
        padding: 1.5rem 1rem;
        margin: 0.5rem 1rem;
    }

}

/* Thesis section */

.thesis-section .left-container {
    width: 60%;
    margin: 0rem 1.5rem 2rem 1.5rem;
}

.left-container video {
    width: 100%;
    height: auto;
}

.thesis-section .right-container {
    flex: 1 1 35%;
    padding-bottom: 2rem;
}

.left-text-thesis p {
    margin-top: 1rem;
    max-width: 94%;
}

.left-text-thesis {
    margin-top: 1.5rem;
}

@media only screen and (max-width: 724px) {

    .thesis-section .left-container {
        display: block;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .thesis-section .right-container {
        display: none;
    }

    .left-text-thesis {
        display: none;
    }

    .thesis {
        margin-top: 2rem;
    }
}

/* Footer section */

footer {
    padding: 1rem 1.5rem;
    border-top: 1px solid rgb(219, 219, 219);
}

footer p {
    display: inline-block;
    font-size: 0.9rem;
}

.TandP {
    float: right;
}

@media only screen and (max-width: 724px) {

    footer.mobile-footer {
        border: none;
    }

    .TandP {
        display: none;
    }
}

